*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    padding: 0 6%;
}
a{
    text-decoration: none;
    color: black;
}

/*---------navbar------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.links{
    display: flex;
    gap: 3vw;
    font-size: 1.5vw;
}
.header img{
    width: 30vw;
}